@using WebApplication.Models;
@model Employee
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MyView</title>
</head>
<body>
    <div> 
        @{ @*Employee emp = (Employee)ViewData["Employee"];*@
        Employee emp = ViewBag.Employee;
            }
  <h1>@Model.Name,@ViewBag.greeting   @*((string)ViewData["greeting"])!*@</h1><hr />
       <h2>员工信息</h2>
        <p>姓名：@Model.Name</p>
        <p>工资：@Model.Salary.ToString("c")</p>

           @{ 
               if(Model.Salary>1000)
               {
                   <p>老板</p>
               }
               else
               {
                   <p>搬砖</p>
               }
           }
</div>
</body>
</html>
