@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>2017软件软件2班</h1>
    <p>您可以从Microsoft Code Gallery学习课程</p>
    <p><a class="btn btn-default" href="https://docs.microsoft.com/zh-cn/aspnet/mvc/overview/getting-started/getting-started-with-ef-using-mvc/creating-an-entity-framework-data-model-for-an-asp-net-mvc-application">学习课程 &raquo;</a></p>
</div>