@using WebApplication.Models;
@*@model  Employee*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Gettest</title>
</head>
<body>
    <div> 
        @{ Employee emp = (Employee)ViewData["Employee"];
            Customer cus = (Customer)ViewData["Customer"];
            }
            <h1>@ViewBag.greeting</h1><hr />
            <h2>员工信息</h2>
            <p>姓名：@emp.Name</p>
            <p>工资：@emp.Salary.ToString("c")</p>

            @{
                if (emp.Salary > 1000)
                {
                    <p>级别：上层</p>
                }
                else
                {
                    <p>级别：下层</p>
                }
            }
        <hr />
            <h2>客户信息</h2>
            <p>姓名：@cus.CustomerName</p>
            <p>国家：@cus.Address</p>
        </div>
    </body>
    </html>
